@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  box-sizing: border-box;
}

html {
  height: 95vh;
  /* height: 100svh; */
}

body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background: rgb(250, 250, 250);
}

body.dark {
  background: rgb(10, 10, 10);
}